RewriteEngine On

# Ensure that the `RewriteBase` is set if your app is in a subdirectory
# RewriteBase /

# Handle requests for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.html
RewriteRule ^ index.html [L]
